{% extends 'base.html' %}


{% block content %}

<h2>Bem vindo(a), {{user.username}}.</h2>
<div class="contianer" style="margin-top: 15px">
        <h3>Dados Pessoais</h3>
        <hr>
        <h6>Email: {{user.email}}</h6>
        <h6>Último Login em {{user.last_login}}</h6>

        <div class="row" style="margin-top:30px">

                <div class="col-md-6">
                        <h3>Alertas Criados</h3>
                        <label><strong>{{user.username}}</strong> criou um total de {{countAlert}} alertas.</label>
                </div>
                
                <div class="col-md-6">
                        <h3>Locais de Nascente Criadas</h3>
                        <label ><strong>{{user.username}}</strong> criou um total de {{watersources.count}} nascentes.</label>


                </div>
        </div>
        <a href="#" class="btn btn-danger" style="margin-top: 45px;" >Deletar conta</a>
</div>
{% endblock %}

