{% extends 'base.html' %}

{% block css-files %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sensorDetails.css' %}">
    <link rel="stylesheet" href="{% static 'css/label.css' %}">
{% endblock %}


{% block content %}
    <div>

        <h2>Informações detalhadas</h2>

        <hr>

        <div class="row">

            <div class="col-xs-3 col-sm-3 col-md-3">

                <div style="display: flex; justify-content: space-between;">
                    <label class="label-description">Tipo do sensor:</label>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16" id="info-sensor">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                </div>

                <input id="sensor-type" value='{{sensorCurrent.sensor_type.key}}' style="display: none;">
                <p id="name-sensor" class="form-control">{{sensorCurrent.sensor_type.name}}</p>
            
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3">
                <label class="label-description">Versão:</label>
                <p class="form-control" id="version-sensor">1.0.0</p>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3">
                <label class="label-description">Valor atual do Sensor:</label>
                <p class="form-control" id="value-current-sensor">{{sensorCurrent.sensor_value}}</p>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3">
                <label class="label-description">Data e Hora Coletada:</label>
                <p class="form-control">{{sensorCurrent.datetime_collected}}</p>
            </div>
            
        </div>

    <div class="row">

        <div class="col-xs-8 col-sm-8 col-md-8">

            <div id="div-graphic-linear" class="form-control">

                <h5>Valores do Sensor</h3>
                <input id="list-sensor-value" value='{{sensors}}' style="display: none;">
                <p class="subtitle">Todos os Valores coletados do sensor em {{month}} </p>

                <form method="GET" class="form-align">

                    <select class="form-select select-data" id="date" name="month" >
                        <option >Selecione o mês</option>
                        <option value="1">Janeiro</option>
                        <option value="2">Fevereiro</option>
                        <option value="3">Março</option>
                        <option value="4">Abril</option>
                        <option value="5">Maio</option>
                        <option value="6">Junho</option>
                        <option value="7">Julho</option>
                        <option value="8">Agosto</option>
                        <option value="9">Setembro</option>
                        <option value="10">Outubro</option>
                        <option value="11">Novembro</option>
                        <option value="12">Dezembro</option>
                    </select>

                    <div id="period-in-days" style="display: none; font-size: 10px;">

                        <div style="display: flex;">
                            <label style="margin-top: 10px; margin-right: 5px;"><strong>Data Inicial</strong></label>
                            <input type="date" class="form-control select-day" name="begin" id="begin">
                        </div>
                        
                        <div style="display: flex;">
                            <label style="margin-top: 10px; margin-right: 5px;"><strong>Data Final</strong></label>
                            <input type="date" class="form-control select-day" name="end" id="end" >
                        </div>

                    </div>

                    <input type="button" id="period-day-button" placeholder="Periodo em dias" class="btn btn-primary btn-change-duration" value="Periodo em dias">
                    <input type="submit" placeholder="Atualizar" class="btn btn-success btn-accept" value="Atualizar">

                </form>

                <div id="graphic-linear"></div>

            </div>

        </div>

        <div class="col-xs-4 col-sm-4 col-md-4">
            <label class="label-description">Valores do Sensor:</label>
            
            <table class="table table-striped" >
                <tr>
                    <th scope="col">Data/Hora da coleta</th>
                    <th scope="col">Valor</th>
                </tr>
                
                <table class="table table-striped" id="table-scrolling">
                    {% for sensor in data %}
                    <tr>
                        <td>{{sensor.date}}</td>
                        <td>{{sensor.value}}</td>
                    </tr>
                    {% endfor %}
                </table>
                
            </table>
        </div>
    </div>
        
    <div id="div-modal" class="div-modal">
        
        <div class="div-modal-content">
            <span class="close-btn" id="close-btn">&times;</span>
            <h3 id='title-info'></h3>
            <hr>
            <p id="info"></p>
        </div>
        
    </div>

</div>
{% endblock content %}
    
{% block scripts-footer %}
{% load static %}
    <script src="{% static 'js/sensorValues.js' %}"></script>
    <script src="{% static 'js/sensorDetailPeriodDay.js'%}"></script>
    <script src="{% static 'js/linearGraphics.js' %}"></script>
{% endblock %}
    
